body{
    font-family: Arial, sans-serif;
    background-color: gray;
}
h1 {
    color: blue
}
form {
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}
button {
    width: 75px;
    height: 30px;
    background-color: red;
}
button:hover {
    background-color: rgb(77, 34, 34);
}